:root{
  --fondo: #030303;
  --ppal: #fcfcfc;
  --acento: #1d5ceb;
  --acento-alpha: rgb(29 92 235 / 38%);
  --acento-alpha-alpha: rgb(29 92 235 / 4%);
  --correcto:#6cc034;
  --incorrecto:#c62829;
  
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--acento)
}

@media (prefers-color-scheme: light) {
  :root{
    --fondo: #fcfcfc;
    --acento: #1d5ceb;
    --ppal:#030303;
  }
  a:hover {
    color: #747bff;
  }
  .btnRtas {
    background-color: var(--fondo);
  }
}


body {
  background-color:var(--fondo);
  transition: color .3s;
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Chivo', sans-serif;
}

h1 {
  font-weight: 800;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin:0 auto;
}

.rtas{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.btn {
  padding: 1.2em 2.2em;
  transition: .3s;
  color: var(--ppal);
  background-color: var(--fondo);
}

.btnRtas {
  box-shadow: #CCC 1px 1px 14px -2px;
  width: 50%;
  /*background-color:var(--acento);*/
}

.btnRtas:not(.answered):hover{
  background-color:var(--acento-alpha-alpha);
  box-shadow: var(--acento-alpha) 1px 1px 14px 1px;
}

.correctAnswer {background-color:var(--correcto); color:#fcfcfc; box-shadow: var(--acento-alpha) 1px 1px 14px 1px;}
.incorrectAnswer {background-color:var(--incorrecto); color:#fcfcfc; box-shadow: var(--acento-alpha) 1px 1px 14px 1px;}

@media (max-width:720px) {
  .btnRtas{
    width: 80%;
  }
}